[Unit]
Description=Traefik
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/docker-compose -f /var/lib/docker-compose/traefik.yml -p traefik up -d
ExecStop=/usr/bin/docker-compose -f /var/lib/docker-compose/traefik.yml -p traefik down
ExecStopPost=/usr/bin/docker-compose -f /var/lib/docker-compose/traefik.yml -p traefik rm

[Install]
WantedBy=multi-user.target
